{% extends 'def/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<section class="engine"><a href="https://mobirise.ws/c">best website maker</a></section><section class="cid-qNHJNxkvua mbr-fullscreen mbr-parallax-background" id="header2-f">

    

    

    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
                    Smartport Home</h1>
                
                <p class="mbr-text pb-3 mbr-fonts-style display-5">Log in to view real-time data</p>
                <div class="mbr-section-btn"><a class="btn btn-md btn-black-outline display-4" href="about">ABOUT</a>
                    <a class="btn btn-md btn-black display-4" href="login">LOGIN</a></div>
            </div>
        </div>
    </div>
    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>

{% endblock %}
